
  
  <form class="welcome-form" action="/" method="post">
  <div class="welcome-title">
    <h1>Welcome!</h1>
    </div>
    <div class="welcome-question">
      <h2 class="question">Whats your name?</h2>
    </div>
    <div class="welcome-name">
      <input type="text" class="text-name" id="name" name="name">
      <button class="round-button" type="submit">></button>
    </div>
    <a href="/auth/login" class="signup-login">Already a feeder?</a>
</form>
     
