<div class="p" ><img src="/images/navbar-logo.svg" alt="img"></div>
  
  <form class="welcome-form" action="/" method="post">
  <div class="welcome-title">
    <h1>Welcome!</h1>
    </div>
    <div class="welcome-question">
      <h2 class="question">Whats your name?</h2>
    </div>
    <div class="welcome-name">
      <input type="text" class="text-name" id="name" name="name">
      <a href="/auth/signup"> <img src="/images/Recurso 2.svg" class="arrow" alt="arrow continue"> </a>
    </div>
    <a href="/auth/login" class="signup-login">Already a feeder?</a>
</form>
     
