<h1>This is user profile</h1>

<div>
  <a href="/foods" class="btn btn-dark">Check whats on your fridge</a>
  <a href="/foods/food-shopList" class="btn btn-dark">Shopping list</a>
</div>

<div>
  <h1>Dont know what to eat?</h1>
  <a href="/foods/recipes" class="btn btn-dark">Check some recepies</a>
</div>