<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h1>Create Item</h1>

            <hr>

            <form action="/foods/food-create" method="POST">

                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input  type="text" class="form-control" id="name" name="name">
                </div>

                <div class="mb-3">
                    <label for="category" class="form-label">Category</label>
                    <input type="text" class="form-control" id="category" name="category">
                </div>

                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Image Link</label>
                    <input type="text" class="form-control" id="imageUrl" name="imageUrl">
                </div>
                <div class="mb-3">
                    <label for="expirationDate" class="form-label">Expiration date</label>
                    <input type="text" class="form-control" id="expirationDate" name="expirationDate">
                </div>
                <div class="mb-3">
                    <label for="quantity" class="form-label">Amount</label>
                    <input type="text" class="form-control" id="quantity" name="quantity">
                </div>
                <div class="mb-3">
                    <label for="imageUrl" class="form-label">Add some comment</label>
                    <input type="text" class="form-control" id="imageUrl" name="imageUrl">
                </div>


                <button type="submit" class="btn btn-dark">Create new room</button>
                <a href="/food-list" class="btn btn-dark">Go back</a>
            </form>
            <hr>
        </div>
    </div>
</div>