<div class="shopList">
  <h1>Create List</h1>
  <form onsubmit="addNewItem(event)">
    <input class="input" type="text" name="itemText" autocomplete="off" placeholder="New Item" class="roundBorder">
    <button type="submit" class="addItemButton">+</button>
  </form>
  <ul class="itemContainer"></ul>
</div>
<div class="shopList">
  <h3>Here some suggestions you are running out of</h3>
<ul>
{{#each shopList}}
<li>{{this.name}}</li>
{{/each }}
</ul>
</div>



